@using Wimi.BtlCore.Web.Models.Common.Modals
@await Html.PartialAsync("~/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("ChangePassword")))


<div class="modal-body">

    <form name="ChangePasswordModalForm">

        <div class="form-group form-md-line-input form-md-floating-label">

            <label>@L("CurrentPassword")</label>
            <input type="password" name="CurrentPassword" class="form-control" required maxlength="@Wimi.BtlCore.Authorization.Users.User.MaxPlainPasswordLength">



            <span class="help-block help-block-info hidden">@Html.Raw(L("PasswordChangeDontRememberMessage", "<a href=\"" + Url.Action("ForgotPassword", "Account") + "\">" + L("ClickHere") + "</a>"))</span>
        </div>

        <div class="form-group form-md-line-input form-md-floating-label no-hint">
            <label>@L("NewPassword")</label>
            <input id="ChangePasswordModal_Password" type="password" name="NewPassword" class="form-control" required maxlength="@Wimi.BtlCore.Authorization.Users.User.MaxPlainPasswordLength" minlength="@Wimi.BtlCore.Authorization.Users.User.MinPlainPasswordLength">
        </div>

        <div class="form-group form-md-line-input form-md-floating-label no-hint">
            <label>@L("NewPasswordRepeat")</label>
            <input type="password" name="NewPasswordRepeat" class="form-control" required maxlength="@Wimi.BtlCore.Authorization.Users.User.MaxPlainPasswordLength" minlength="@Wimi.BtlCore.Authorization.Users.User.MinPlainPasswordLength" equalto="#ChangePasswordModal_Password">
        </div>

    </form>

</div>


@await Html.PartialAsync("~/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")