@using Wimi.BtlCore
@using Wimi.BtlCore.Web.Models.Common.Modals
@model Wimi.BtlCore.Web.Models.Cutter.CutterParameter.CutterParameterModel

@await Html.PartialAsync("~/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? L("Editor") : L("NewlyBuild")))
<div class="modal-body">
    <form name="createOrUpdateForm" role="form" novalidate class="form-validation">
        <div class="form-group form-md-line-input form-md-floating-label">
            <label>@L("ParameterCoding")</label>

            <select class="form-control code" type="text" name="Code" required></select>
        </div>
        <div class="form-group form-md-line-input form-md-floating-label">
            <label>@L("ParameterName")</label>
            <input class="form-control name" type="text" name="Name" checkSpace="true" required maxlength="@BtlCoreConsts.MaxLength"
                   value="@(Model.IsEditMode ? Model.Name : string.Empty)">
        </div>
        <input type="hidden" id="SelectedCode" value="@Model.Code" />
        <input type="hidden" id="Id" name="Id" value="@(Model.IsEditMode ? Model.Id : 0)" />
        <input type="hidden" name="IsEditMode" value="@Model.IsEditMode" />
        <input type="hidden" id="CreationTime" value="@Model.CreationTime" />
        <input type="hidden" id="CreatorUserId" value="@Model.CreatorUserId" />
    </form>
</div>

@await Html.PartialAsync("~/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
